%h1 Listing messages

%table
  %thead
    %tr
      %th Sender
      %th Subject
      %th Sent at
      %th
      %th

  %tbody
    - @messages.each do |message|
      %tr
        %td= message.sender.to_s
        %td= message.subject
        %td= message.sent_at.stamp('01:00:00 AM')
        %td= link_to 'Show', message
        %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
