%p
  %b Sender:
  = message.sender

%p
  %b Sent at:
  = message.sent_at.stamp('01:00:00 AM')

%p
  %b Encoded recipients:
  = message.encoded_recipients

%p
  %b Subject:
  = message.subject

%p
  %b Body:
  = message.body

= link_to 'Reply', new_message_path(message: { recipients: message.sender })
= link_to 'Back', messages_path
